@import url(http://fonts.googleapis.com/css?family=Inconsolata);
* {
    font-family: 'Inconsolata', sans-serif;
    font-size: 1.05em;
}
body {
    overflow: hidden;
}
a {
    color: #06a;
    outline: none;
}
a:hover {
    color: #09f;
}
a > img {
    border: none;
}
a.disabled {
    cursor: default;
}
a.disabled > i {
    opacity: 0.4;
}
a.disabled:hover > i {
    color: black;
}
.slide {
    position: absolute;
    top: 0;
    left: -120%;
    z-index: -1;
    transition: all 1s ease;
    margin-top: 15vh;
    margin-left: 30vw;
    width: 800px;
    border: 2px solid #888;
    padding: 8px;
}
.slide.current {
    left: 0;
}
.slide > header {
    font-size: 2em;
    padding-bottom: 20px;
}
.slide > p {
    margin-left: 10px;
}
.slide > ul {
    margin: 0px 0px 0px 20px;
    padding: 0;
}
footer a {
    color: black;
    text-decoration: none;
    outline: none;
}
footer a:hover {
    color: black;
}
footer {
    font-size: 0.8em;
}
pre code {
    font-size: 0.85em;
    padding: 0;
}
